.homeSection {
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (min-width: 768px) {
  .homeSection {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1280px) {
  .homeSection {
    overflow-y: hidden;
  }
}
